{% extends 'base.html' %}
{% block aboutactive %}active{% endblock aboutactive %}
{% block content %}

<main>
    <section id="content">
        <h3 class="text-center mt-5">Our Mission:</h3>
        <div class="container text-center">
            <p class="lead mt-5 offset-3 col-6">Transform the way we look at piles of DvDs by combining <abbr title="The Movie Database" style="text-decoration: none;">TMDB's</abbr> API with YOUR movie collection.</p>
        </div>
        

    </section>
</main>

{% endblock content %}