{% extends 'base.html' %}
{% block homeactive %}active{% endblock homeactive %}
{% block content %}

<main>
    <div class="container text-center mt-3">
        <h1 class="h1 mt-5"><i>MYMDB</i></h1>
        <p>(My Movies Database)</p>
    </div>

    <div class="container pt-3">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="/" method="POST" class="text-center">
                    <label for="pick_title">Search By <b>Title</b></label>
                    <input type="text" name="pick_title">
                    <input type="submit" value="Search" class="btn btn-primary">
                </form>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <form action="/" method="POST" class="text-center">
                    <label for="pick_genre">Browse By <b>Genre</b></label>
                    <select name="pick_genre">
                        {% for result in results %}
                        <option value="{{ result.id }}">{{ result.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Browse" class="btn btn-primary">
                </form>
            </div>
            
        </div>
    </div>
</main>
{% if movies %}
<hr />
<section id="form_results">
    <div class="container text-center">
        <div class="row text-center d-flex justify-content-center">
            {% for movie in movies%}
            <div class="col-lg-2 col-md-2 col-sm-2 card m-1">
                {% if movie.poster_path %}
                <img src="https://image.tmdb.org/t/p/w500/{{movie.poster_path}}" alt="Movie Photo Placeholder"
                    class="img-thumbnail img-card-top">
                {% else %}
                <img src="{{url_for('static', filename='no_image.jpg')}}" style="max-height: 200px;" alt="Image Replacement">
                {% endif %}
                <div class="card-body d-flex flex-column justify-content-between">
                    <div>
                        <p class="card-text">{{ movie.title }}</p>
                    </div>
                    <div>
                        <a href="/movie/{{movie.id}}" class="btn btn-primary">Details</a>
                    </div>
                </div>
            </div>

            {% endfor %}
        </div>
    </div>
</section>
{% else %}
{% include 'upcoming.html' %}
{% endif %}

{% endblock content %}