{% extends 'base.html' %}
{% block content %}
{% if result %}
<main>
    <div class="jumbotron text-center">
        <img src="https://image.tmdb.org/t/p/w500/{{result.belongs_to_collection.backdrop_path}}" alt="movie backdrop" class="img-fluid mr-auto">
    </div>
    <div class="container">
        <!-- <div class="row">
            <h1 class='col-12 text-center'>{{result.title}}</h1>
            <h4 class='m-2'>Genres:</h4>
            <ul class='m-4'>
                {% for genre in result.genres %}
                <li>{{genre.name}}</li>
                {% endfor %}
            </ul>
            <a href="{{result.homepage}}" class='m-4'>Movie HomePage</a>
            <p class='m-4'>Description: {{result.overview}}</p>
            <p class='m-4'>Release Date: {{result.release_date}}</p>
            <p class='m-4'>Runtime: {{result.runtime}} min.</p>
        </div> -->
        <div class="card text-center">
            <div class="card-header">
                {% for genre in result.genres %} {{genre.name}} {% endfor %}
            </div>
            <div class="card-body">
                
              <h5 class="card-title">{{result.title}}</h5>
                
              <p class="card-text">{{result.overview}}</p>
              <p class="card-text">Released: {{result.release_date}}</p>
              <p class="card-text">Runtime: {{result.runtime}} min.</p>
              <p class="card-text"><a href="{{result.homepage}}">Movie HomePage</a></p>
            </div>
          </div>
    </div>
</main>
{% else %}
<p>Please click a movie's details from the Home screen.</p>
{% endif %}

{% endblock content %}