{% extends 'base.html' %}
{% block content %}
{% if result %}
<main>
    {% if error_message %}
    <h1 class="text-center">{{error_message}}</h1>
    {% endif %}
    <div class="col text-center mt-3 mb-3">
    <a class="btn btn-primary" href="/" role="button">Back to Search</a>
    </div>
    <div class="jumbotron text-center pb-5 shadow ml-5 mr-5" style="background-image: url('../static/movie_curtain.jpeg'); background-size: contain;">
        {% if result.belongs_to_collection.backdrop_path %}
        <img src="https://image.tmdb.org/t/p/w500/{{result.belongs_to_collection.backdrop_path}}" alt="movie backdrop" class="img-fluid mr-auto shadow">
        {% else %}
        <img src="https://image.tmdb.org/t/p/w500/{{result.poster_path}}"alt="Image Replacement" style="max-height : 350px;" class="shadow">
        {% endif %}
    </div>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {% for genre in result.genres %} {{genre.name}} {% endfor %}
            </div>
            <div class="card-body">
                
              <h5 class="card-title">{{result.title}}</h5>
                
              <p class="card-text">{{result.overview}}</p>
              <p class="card-text">Released: {{result.release_date}}</p>
              <p class="card-text">Runtime: {{result.runtime}} min.</p>
              <p class="card-text"><a href="{{result.homepage}}" class="btn btn-secondary">Movie HomePage</a></p>
            </div>
          </div>
    </div>
    <form action="/my_collection" method="POST" class="text-center mt-2">
        <input type="hidden" name='movie_title' value='{{result.title}}'>
        <input type="hidden" name='movie_genre' value='{% for genre in result.genres %} {{genre.name}} {% endfor %}'>
        <input type="hidden" name='movie_poster' value="https://image.tmdb.org/t/p/w500/{{result.poster_path}}">
        <input type="hidden" name='movie_description' value="{{result.overview}}">
        <input type="hidden" name='movie_run' value='{{result.runtime}}'>
        <input type="hidden" name='movie_id' value='{{result.id}}'>
        <input type="submit" value="Add to My Collection" class="text-center btn btn-primary">
    </form>
</main>
{% else %}
<p>Please click a movie's details from the Home screen.</p>
{% endif %}

{% endblock content %}