{% extends 'base.html' %}
{% block content %}
{% if result %}
<main>
    <div class="jumbotron text-center">
        {% if result.belongs_to_collection.backdrop_path %}
        <img src="https://image.tmdb.org/t/p/w500/{{result.belongs_to_collection.backdrop_path}}" alt="movie backdrop" class="img-fluid mr-auto">
        {% else %}
        <img src="{{url_for('static', filename='no_image.jpg')}}"alt="Image Replacement">
        {% endif %}
    </div>
    <div class="container">
        <div class="card text-center">
            <div class="card-header">
                {% for genre in result.genres %} {{genre.name}} {% endfor %}
            </div>
            <div class="card-body">
                
              <h5 class="card-title">{{result.title}}</h5>
                
              <p class="card-text">{{result.overview}}</p>
              <p class="card-text">Released: {{result.release_date}}</p>
              <p class="card-text">Runtime: {{result.runtime}} min.</p>
              <p class="card-text"><a href="{{result.homepage}}">Movie HomePage</a></p>
            </div>
          </div>
    </div>
</main>
{% else %}
<p>Please click a movie's details from the Home screen.</p>
{% endif %}

{% endblock content %}